<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body>
    
    <!-- HEADER -->
    <%- include('../partials/header') %>

    <!-- MAIN -->
    <main class="container">
        <h1 class="page-title">Productos</h1>
        <div class="product-grid">
            <p>Próximamente los productos van acá.</p>
        </div>
    </main>

    <!-- FOOTER -->
    <%- include('../partials/footer') %>

</body>
</html>