<!DOCTYPE html>
<html lang="es">

    <%- include("partials/head", { title: "Carrito" }) %>

    <body>

        <%- include("partials/header") %>

        <main>
            <h1>Carrito de compras</h1>
            <p>No hay productos agregados.</p>

            <a href="/products">Seguir comprando</a>
        </main>

        <%- include("partials/footer") %>

    </body>

</html>