<!DOCTYPE html>
<html lang="en">

    <%- include("partials/head", { title: "Inicio" }) %>

<body>

    <!-- HEADER -->
    <%- include("partials/header") %>

    <!-- MAIN -->
    <main class="container">

        <!-- HERO -->
        <section class="hero">
            <h1>Recursos digitales para diseño de indumentaria</h1>
            <p>Fichas técnicas, moldes y herramientas profesionales listas para usar.</p>
            <br>
            <a href="/products" class="btn-primary">Explorar productos</a>
        </section>

    </main>

    <!-- FOOTER -->
    <%- include("partials/footer") %>

</body>
</html>