<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LuBo</title>
    <link rel="stylesheet" href="../style/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>

<body>

    <header>
        <nav class="navbar">
            <h1 class="logo">LuBo</h1>
            <ul class="menu">
                <li><a href="index.html">Inicio</a></li>
                <li><a href="#">Comprar</a></li>
                <li><a href="#">Sobre Mi</a></li>
            </ul>
            <div class="icons">
                <a href="login.html">Login</a>
                <a href="productCart.html">Carrito</a>
            </div>
        </nav>
    </header>

    <main class="container product-detail">

        <div class="product-image">
            <div class="card">Imagen del producto</div>
        </div>

        <div class="product-info">
            <h2>Tech Pack Camisa Oversize</h2>
            <p>Plantilla editable profesional para producción.</p>
            <p>$20</p>
            <button>Agregar al carrito</button>
        </div>

    </main>

    <footer>
        <p>© 2026 LuBo</p>
    </footer>

</body>

</html>
