<!DOCTYPE html>
<html lang="es">

    <%- include("../partials/head", { title: "Crear Producto" }) %>

    <body>

        <%- include("../partials/header") %>

        <main class="form-container">

            <h1>Crear nuevo producto</h1>

            <form action="/products" method="POST">

                <label>Nombre del producto</label>
                <input type="text" name="name" required>

                <label>Descripción</label>
                <textarea name="description" required></textarea>

                <label>Imagen</label>
                <input type="text" name="image">

                <label>Categoría</label>
                <input type="text" name="category">

                <label>Colores</label>
                <input type="text" name="colors">

                <label>Precio</label>
                <input type="number" name="price" step="0.01" required>

                <button type="submit">Crear producto</button>

                <a href="/products" class="cancel-btn">
                    Cancelar
                </a>

            </form>

        </main>

        <%- include("../partials/footer") %>

    </body>
</html>